.App-link{
  color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {transform: rotate(360deg);}
}

.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 6px solid blue  ;
  padding: 10px;
}

.header{
  padding: 10px;
}

.body {
  background-color: lightblue;
}